{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>
body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial;

    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}
</style>
    <title>Add Fee</title>
</head>
<body>

<h1>Add Fee Details</h1>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Save Fee
    </button>
</form>

<br>

<a href="{% url 'fee_list' %}">
    View Fee Details
</a>

</body>
</html>
{% endblock %}